@use "../abstracts/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 24px 76px 24px;

  @include desktop {
    max-width: 540px;
    padding: 36px 0 60px 0;
  }
}
