@use "../abstracts/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__text {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    text-align: center;
    color: var(--text);

    @include desktop {
      margin-top: 0.5rem;
    }
  }
}
