.todo-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--todo-list);
    border-radius: 5px;
    padding: 14px 24px;
    box-shadow: var(--shadow);

    &__check {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--divider-line);
        flex-shrink: 0;
    }

    &__input {
        font-size: 0.75rem;
        letter-spacing: 0.25px;
        border: none;
        background: none;
        flex: 1;

        &::placeholder {
            color: var(--new-todo-text);
        }
    }
}
