.todo {

    &__box {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--divider-line);
        padding: 1rem 1.25rem;
    }

    &__input {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--divider-line);
        flex-shrink: 0;
        appearance: none;
        margin: 0;

        &:checked {
            background: var(--checkbox);
            border: none;

            &::after {
                content: "";
                background-image: url("../images/icon-check.svg");
                background-repeat: no-repeat;
                background-position: center;
                width: 20px;
                height: 20px;
                display: block;
            }

            &+.todo__label {
                color: var(--checked-text);
                text-decoration: line-through;
            }
        }
    }

    &__label {
        font-size: 0.75rem;
    }

    &__delete {
        width: 12px;
    }
}