@use "../abstracts/mixins" as *;

.todo-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 14px 24px;
  background-color: var(--todo-list);
  border-radius: 5px;
  box-shadow: var(--shadow);

  @include desktop {
    padding: 20px 24px;
    align-items: flex-end;
  }

  &__check {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--divider-line);

    @include desktop {
      width: 24px;
      height: 24px;
    }
  }

  &__input {
    flex: 1;
    font-size: 0.75rem;
    letter-spacing: 0.25px;
    border: none;
    background: none;

    @include desktop {
      font-size: 1.125rem;
    }

    &::placeholder {
      color: var(--new-todo-text);
    }
  }
}
