@use "../abstracts/mixins" as *;

.todo {

  &__box {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include desktop {
      align-items: flex-end;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--divider-line);

    @include desktop {
      padding: 24px;

      &:hover {

        .todo__delete {
          opacity: 1;
        }
      }
    }
  }

  &__input {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    border: 1px solid var(--divider-line);
    appearance: none;
    cursor: pointer;

    @include desktop {
      width: 24px;
      height: 24px;
    }

    &:checked {
      background: var(--checkbox);
      border: none;

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../images/icon-check.svg");
        background-repeat: no-repeat;
        background-position: center;

        @include desktop {
          width: 24px;
          height: 24px;
        }
      }

      &+.todo__label {
        color: var(--checked-text);
        text-decoration: line-through;
      }
    }
  }

  &__label {
    font-size: 0.75rem;
    color: var(--unchecked-text);

    @include desktop {
      font-size: 1.125rem;
    }
  }

  &__delete {
    width: 12px;
    transition: opacity 0.2s ease-in-out;

    @include desktop {
      width: 18px;
      opacity: 0;
    }
  }
}
