@use "../abstracts/variables" as *;

// Light
:root {
    --background: #{$gray-50};
    --new-todo-text: #{$gray-600};
    --todo-list: #{$white};
    --unchecked-text: #{$navy-850};
    --checked-text: #{$gray-300};
    --text: #{$gray-600};
    --divider-line: #{$purple-300};
}

// Dark
[data-theme="dark"] {
    --background: #{$navy-950};
    --new-todo-text: #{$purple-700};
    --todo-list: #{$navy-900};
    --unchecked-text: #{$purple-100};
    --checked-text: #{$purple-700};
    --text: #{$purple-600};
    --divider-line: #{$purple-800};
}